/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-image:url('../png/BasicBackground.gif');
    -fx-background-size: 1260px,709px;
}

.menu{
    -fx-background-image:url('../png/MenuIcon.png');
    -fx-background-size: cover;
    /* Disable button effects */
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background: transparent;
    -fx-padding: 0;
    -fx-text-fill: inherit;
    -fx-effect: null;
}

.exit{
    -fx-background-image:url('../png/XIconBlack.png');
    -fx-background-size: cover;
    /* Disable button effects */
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background: transparent;
    -fx-padding: 0;
    -fx-text-fill: inherit;
    -fx-effect: null;
}

.arrow{
    -fx-background-image:url('../png/Arrow.png');
    -fx-background-size: cover;
    /* Disable button effects */
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background: transparent;
    -fx-padding: 0;
    -fx-text-fill: inherit;
    -fx-effect: null;
}

.friendList{
    -fx-background-image:url('../png/SearchIconGrey.png');
    -fx-background-size: cover;
    /* Disable button effects */
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background: transparent;
    -fx-padding: 0;
    -fx-text-fill: inherit;
    -fx-effect: null;
}

.friendList:hover {
    -fx-opacity: 0.7; /* Example of hover effect */
}

.selected:hover{
    -fx-background-color: #E1E1E1;
    -fx-border-color: #2f5597;
    -fx-border-width: 0 3 0 0;
}

.colorGradientButton{
    -fx-background-color: linear-gradient( to right,#8c52ff, #5ce1e6);
}

.colorGradientBackground{
    -fx-background-color: linear-gradient( to right,#cdffd8, #94b9ff);
}

.combo-box{
    -fx-font-size: 13px;
    -fx-font-family: "Arial Black";
    -fx-background-color: #b3b3b3;
    -fx-border-color: transparent;
    -fx-background-radius: 20px;
    -fx-prompt-text-fill:#ffffff;
}

.text-field {
    -fx-background-color: #ffffff; 
    -fx-border-color: #ccc; 
    -fx-font-size: 14px; 
    -fx-font-family: "Yu Gothic UI Semibold";
}

.student Button{
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 14px;
}

.student Button:hover{
    -fx-font-family: "Segoe UI Black";
    -fx-font-size: 14;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #FFFFFF;
}

#selected{
    -fx-font-family: "Segoe UI Black";
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #FFFFFF;
}

.confirm{
    -fx-font-family: "Segoe UI Black";
    -fx-background-color: #4fc8ab;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.delete{
    -fx-font-family: "Segoe UI Black";
    -fx-background-color: #ff3131;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.username-button {
    -fx-background-color: transparent;
    -fx-text-fill: #737373;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-padding: 0;
    -fx-underline: false; /* Initially, the text is not underlined */
}

.username-button:hover {
    -fx-underline: true; /* Underline text on hover */
    -fx-text-fill: #555555; /* Darken the text color on hover */
}

.friend-button {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 20px;
    -fx-padding: 0;
    -fx-underline: false; /* Initially, the text is not underlined */
}

.friend-button:hover {
    -fx-underline: true; /* Underline text on hover */
    -fx-text-fill: #a6a6a6; /* Lighter text color on hover */
}

